html, body {
    background-image: url('/storage/img/golfWallpaper.jpg');
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    /* height: 100%; */
    margin: 0;
    background-attachment: fixed;
}
.dropDownButton{
    color: rgb(255, 255, 255) !important;
    background-color: rgb(67, 133, 188) !important;
    border-top-color: rgb(75, 148, 210) !important;
    border-right-color: rgb(75, 148, 210) !important;
    border-bottom-color: rgb(75, 148, 210) !important;
    border-left-color: rgb(75, 148, 210) !important;
}

.greyColor{
    color: #6c757d
}
.btn-primary{
    color:#fff !important;
}

.btn-danger{
    color:#fff !important;
}

/* .navbar{
  background:transparent;
  background-image:none;
  border-color:transparent;
  box-shadow:none;
} */
/* .navbar-light .navbar-brand {
    color:#fff;
} */
/* .navbar-light .navbar-toggler{
    color:#fff;
}

.nav-item{
    color:#fff;
} */
.flex-container {
  display: flex;
  height:100vh;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.flex-landing-box {
  background-color: #f1f1f1;
  width: 300px;
  min-height: 300px;
  margin: 50px;
  padding: 20px;
  text-align: center;
  line-height: 35px;
  font-size: 16px;
  color: #636b6f;
  background-color: #fff;
  border: solid 1px #636b6f;
  border-radius: 5px;
  -webkit-box-shadow: 10px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
  box-shadow: 10px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0)
}

.flex-boy-div{
    flex-wrap: nowrap;

}
.flex-boy-col{
    flex-wrap: nowrap;

}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

/* .content {
    text-align: center;
} */

.title {
    font-size: 50px;
}

.links > a {
    color: #fff;
    /* color: #636b6f; */
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}


/* SCORECARD COLORS */
.white-back {
    background-image: linear-gradient(rgb(255, 255, 255), rgb(255,255,255));
    background-color: #fff;
    color: #636b6f;
}

.blue-back {
    background-image: linear-gradient(rgb(53 98 147), rgb(135,206,235)) !important;
    color: #fff;
}
.green-back {
      background-image: linear-gradient(rgb(70 102 88), rgb(143,188,143)) !important;
      color: white;
}

.red-back {
      background-image: linear-gradient(rgb(168 63 62)40%, rgb(240,128,128)) !important;
      color: white;
}

.green-back input {
    color: #636b6f;
}


.red-back input {
    color: #636b6f;
}

.black-back {
      background-image: linear-gradient(rgb(25, 25, 25)40%, rgb(111,111,111));
      color: white;
}

.redColor{
    color: red;
}



.gold-back {
    background-image: linear-gradient(rgb(255,215,0), rgb(240,230,140));
}

.grey-back {
    background-color: #f2f2f2;
    /* background-image: linear-gradient(rgb(105,105,105), rgb(220,220,220)); */
    background:rgb(150,150,150);
    color: #fff;
}

.greenColor{
    color: green;
}

.center {
    text-align: center;
}


.right {
    text-align: right;
    font-size: 13px;
}

.left {
    text-align: left;
}
.cardHeader{
    height: 75px;
    padding: 30px 10px 10px 10px;
}
 #golfcard th, tr {
    /* padding-top: 12px; */
    /* padding-bottom: 12px; */
    padding: 0px 12px;
    height: 40px;
    margin: 0px;
}

/* golf card styles */
#golfcard {
    margin-left:auto;
    margin-right:auto;
    width: 700px;
    table-layout: fixed;
    border-collapse: collapse;
}

#golfcard td, #golfcard th {
  border: 1px solid #000;
  text-align: center;

}
.courseName {
    font-size: 40px;
    text-align: left;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
}
#scoreField input {
    width:100%;
    height:100%;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    /* box-sizing:border-box; */
    /* -moz-box-sizing:border-box; */
    margin: 0px;
    padding: 0px;
}
#scoreField td{
    padding:0px;
}
/* input[type="checkbox"] {
  transform:scale(1.5, 1.5);
} */

.wide {
  width: 20%;
}

.courseName {
    font-size: 40px;
    text-align: left;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
}

.form-control input {
    /* width:100%; */
    /* border: none; */
    /* color: #000;
        font-size: 16px; */
    /* height: 30px; */
}

.form-group {
    color: #636b6f;
    background-color: #fff;
    padding: 20px;
    border: solid 1px #636b6f;
    border-radius: 5px;
    -webkit-box-shadow: 10px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    box-shadow: 10px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.toollable {
    display: inline-block;
    color: red;
    padding-left: 7px;
    font-weight:700;
}

.top-margin {
    margin-top: 10px;
}

.center-button-container {
    align-items: center;
    display: flex;
    justify-content: center;
}

.button-row {
    height:50px;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    background-color: #fff;
    /* background-image: linear-gradient(rgb(255,255,255), rgb(192,192,192)); */
}
.button-row th {
    text-align: right !important;
}

.box{
    color: #636b6f;
    background-color: #fff;
    padding: 20px;
    border: solid 1px #636b6f;
    border-radius: 5px;
    -webkit-box-shadow: 10px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    box-shadow: 10px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0)
}

.flex-div {
  background-color: #f1f1f1;
  width: 300px;
  min-height: 300px;
  margin: 100px;
  padding: 20px;
  text-align: center;
  /* line-height: 75px; */
  font-size: 16px;
  color: #636b6f;
  background-color: #fff;
  border: solid 1px #636b6f;
  border-radius: 5px;
  -webkit-box-shadow: 10px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
  box-shadow: 10px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0)
}

.flex-div-li {
    /* color: rgb(53 98 147); */
    text-align: left !important;
    list-style-image: url('/storage/img/golf-ball-bullett.png');
    line-height: 20px;
}
/* .flex-div-li:hover{
color:red;
cursor: pointer;
} */

.addBoyCheckbox{
    margin-right: 10px;

}


.flex-addGolferDiv {
  background-color: #f1f1f1;
  width: 50%;


  text-align: right;
}

.column {
  float: left;
  width: auto;
  padding: 10px;
}

.btn-div{
    padding: 20px;
}

#dayBox {
    margin: 50px;
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-box-shadow: 10px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    box-shadow: 10px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

#dayTable {
    /* font-family: arial, sans-serif; */
    border-collapse: collapse;
    width: 100%;
    border-radius: 5px;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;

}

#dayTable td, th {
    min-width: 100px;
    font-weight: 200;
    /* color: rgb(53 98 147);
    text-align: center !important; */
    border: 1px solid #636b6f;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
            background-image: linear-gradient(rgb(220,220,220), rgb(255,255,255));
            background-color: #000;

}
tr:nth-child(odd) {
        background-image: linear-gradient(rgb(220,220,220), rgb(255,255,255));
}


.dayBoxHeader{
    font-size: 25px;
    text-align: left;
    margin:10px;
    padding:15px 15px 5px 15px;
    /* background-color: red; */
}
.boxHeader{
    font-size: 25px;
    text-align: left;
    /* font-weight: 500; */
    line-height: 1.1;
}
.boyOverAvg{
    font-size:16px;
    padding-left:15px;
}

.bottomBtn{
    position: absolute;
    bottom:   0;
}
.nameClick{
    color: #000000;
    margin-bottom: 0;
}
.nameClick:hover{
    cursor: pointer;
    color:green;
}

.formTextFieldDiv{
    padding: 10px;
}

.statsFirstCol{
    text-align: right;
}

.dropdown-menu{
    background-image: linear-gradient(rgb(70 102 88), rgb(143,188,143));
    color: #fff;

}
.dropdown-menu>li>a {
    color: #fff !important;
}
.dropdown-menu>li>a:hover{
    background-image: linear-gradient(rgb(143,188,143),rgb(70 102 88));
}


.dropdown-menu>li>a {
    color: #fff !important;
}
.dropdown-menu>li>a:hover{
    background-image: linear-gradient(rgb(143,188,143),rgb(70 102 88));
}

.clickRound{
    color: #000000 !important;
    margin-bottom: 0 !important;

}
.clickRound:hover{
    cursor: pointer !important;
    color:green !important;
}
